 body {
   margin: 0;
   padding: 0;
   font-family: 'Roboto', sans-serif;
   background-color: #f2f2f2;
 }


 h2.chart-heading {
   font-family: 'Roboto', sans-serif;
   color: #333;
   font-size: 20px;
 }

 .container {
   display: flex;
   flex-direction: column;
   align-items: center;
   background-color: antiquewhite;
 }

 hr {
   color: black;
   width: 100%;
 }

 .chart-container {
   align-self: center;
   width: 90%;
   margin: 20px;
   max-width: 1000px;
   display: flex;
   flex-direction: column;
   align-items: center;
   border-radius: 8px;
   background-color: #f9f9f9;
   box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
 }

 #title_chart {
   display: flex;
   justify-content: center;
   align-items: center;
   text-align: center;
 }

 .charts {
   display: flex;
   align-items: center;
   gap: 5px;
 }

 @media (max-width:650px) {
   .charts {
     flex-direction: column;
     gap: 2%;
   }
 }

 label {
   font-weight: bold;
   color: #455da0;
   align-self: center;
 }

 input[type="date"] {
   padding: 8px;
   border: 1px solid #455da0;
   border-radius: 5px;
   margin: 10px;
 }

 #submitdate {
   background-color: #455da0;
   color: rgba(255, 255, 255);
   padding: 10px 20px;
   border: none;
   cursor: pointer;
   border-radius: 5px;

 }

 #submitdate:hover {
   background-color: #555;
 }

 #serverchart {
   width: 100%;
   max-width: 800px;
   margin: 20px auto;
   display: block;
 }

 .separator-line {
   border: none;
   border-top: 1px solid #455da0;
   margin: 10px 0;
 }


 #map {
   height: 500px;
   width: 95%;
   margin: 20px;
   max-width: 1000px;
   position: relative;
   border-radius: 30px;
   box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
 }