
  /* Reset default styles */
body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  background-color: #f2f2f2; /* Background color for the whole page */
}


.header {
  background-image: url('../images/backround.JPEG'); 
  background-size: cover; /* Ensures the image covers the entire sidebar */
  background-position: center; /* Centers the image in the sidebar */
  background-repeat: no-repeat; /* Prevents the image from repeating */
  color: rgba(255, 255, 255, 0.425);
  text-align: left;
  padding: 20px 0;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Add a subtle shadow */
}

.header h1 {
  margin: 0;
  font-size: 24px;
    display: flex;
    align-items: center; /* Aligns the icon and the title vertically */
  }


/* Styling for h2 elements with the 'chart-heading' class */
h2.chart-heading {
  font-family: 'Roboto', sans-serif;
  color: #333;
  font-size: 20px;
}


/* Navigation bar styles */
.sidebar {
  background-image: url('../images/backround.JPEG'); 
  background-size: cover; /* Ensures the image covers the entire sidebar */
  background-position: center; /* Centers the image in the sidebar */
  background-repeat: no-repeat; /* Prevents the image from repeating */
  color: rgba(255, 255, 255, 0.425);
  padding: 10px;
  width: 200px;
  flex-shrink: 0;
  backdrop-filter: blur(10px);
}

.sidebar a {
  display: block;
  color: rgba(255, 255, 255, 0.425);
  text-decoration: none;
  padding: 10px 0;
  transition: background-color 0.3s; /* Smooth background color transition */
}

.sidebar a:hover {
  background-color: #555; /* Highlight on hover */
}


.main {
  margin-top: 20px; /* Add space for the header and navigation bar */
  padding: 20px;
  background-color: #fff; /* White background for the content */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Add a subtle shadow */
}

label {
  font-weight: bold;
  color: #455da0;
}

input[type="date"] {
  padding: 8px;
  border: 1px solid #455da0;
  border-radius: 5px;
  margin-right: 10px;
}

#submitdate {
  background-color: #455da0;
  color: rgba(255, 255, 255, 0.425);
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  margin-top: 10px;
}

#submitdate:hover {
  background-color: #555;
}

#serverchart {
  width: 100%;
  max-width: 800px; /* Set a maximum width for the chart */
  margin: 20px auto; /* Center the chart horizontally */
  display: block;
}

/* Styles for the separator lines */
.separator-line {
  border: none;
  border-top: 1px solid #455da0; 
  margin: 10px 0; /* Space above and below the line */
}

.title-container {
  display: flex;
  align-items: center;
}

.title-icon {
  width: 100px; /* Set the width of the icon */
  height: auto; /* Maintain aspect ratio */
  margin-right: 10px; /* Space between the icon and the title */
}


