 body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  background-color: #f2f2f2;
}


h2.chart-heading {
  font-family: 'Roboto', sans-serif;
  color: #333;
  font-size: 20px;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: antiquewhite;
}



hr{
  color:black;
  width:100%;
}
.main {
  align-self: center;
  width: 90%;
  margin: 20px;
  max-width: 900px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.charts{
  display: flex;
  align-items: center;
  gap:5px;
}
@media (max-width:600px){
  input[type="date"]{
  }
  .charts{
    flex-direction: column;
  }
}
label {
  font-weight: bold;
  color: #455da0;
  align-self: center;
}

input[type="date"] {
  padding: 8px;
  border: 1px solid #455da0;
  border-radius: 5px;
  margin: 10px;
}

#submitdate {
  background-color: #455da0;
  color: rgba(255, 255, 255);
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  border-radius: 5px;

}

#submitdate:hover {
  background-color: #555;
}

#serverchart {
  width: 100%;
  max-width: 800px; 
  margin: 20px auto; 
  display: block;
}

.separator-line {
  border: none;
  border-top: 1px solid #455da0; 
  margin: 10px 0; 
}




#map{
  min-height: 400px;
  width: 90%;
  margin: 20px;
  max-width: 900px;
}
.title-icon {
  width: 100px; 
  height: auto;
  margin-right: 10px; 
}


