body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  background-color: #f2f2f2; 
}

h2,h3{
  font-size: 24px;
}
button {
  background-color: #455da0;
  color: white;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  margin-top: 10px;
}

button:hover {
  background-color: #555;
}

input[type="text"],
input[type="number"],
select {
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-right: 10px;
  margin-bottom: 10px;
}

.main {
  align-self: left;
  width: 90%;
  margin: 20px;
  max-width: 900px;
  display: flex;
  flex-direction: column;
  align-items: left;
}

@media only screen and (max-width: 600px) {
  #table_adm th,td{
    border: 1px solid #ddd;
    padding:0px;
    text-align: left;
    font-size:12px;
  }
}

.table_adm{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: stretch;
  align-items: center;
}
td {
  border: 0.5px solid #ddd;
}



