/* Reset default styles */
body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    background-color: #f2f2f2; /* Background color for the whole page */
  }
  
  /* Header styles */
  h1 {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 20px 0;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Add a subtle shadow */
    margin: 0;
    font-size: 36px;
  }
  
  /* Table styles */
  table {
    border-collapse: collapse;
    width: 100%;
    margin-bottom: 20px; /* Add spacing between tables */
  }
  
  th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
  }
  
  /* Autocomplete styles */
  #autocomlete {
    position: relative;
    display: inline-block;
  }
  
  #search {
    padding: 8px;
    width: 200px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  #results {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    max-height: 150px;
    overflow-y: auto;
    border: 1px solid #ccc;
    border-top: none;
    list-style: none;
    padding: 0;
    margin: 0;
    background-color: white;
  }
  
  .results_item {
    padding: 8px;
    cursor: pointer;
  }
  
  .results_item:hover {
    background-color: #f0f0f0;
  }
  
  /* Select styles */
  label {
    font-weight: bold;
  }
  
  select {
    padding: 8px;
    width: 100%;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 10px;
  }
  
  /* Button styles */
  button {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    margin-top: 10px;
  }
  
  button:hover {
    background-color: #45a049;
  }
  