@font-face {
  font-family: 'Roboto Black';
  src: url(/fonts/Roboto/Roboto-Black.ttf) format('truetype');
  font-weight: 900;
  font-style: normal;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  background-color: #f2f2f2;
}

#main-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.autocomlete-category {
  display: flex;
  width: 70%;
  gap: 10%;
  flex-direction: row;
  justify-content: center;
}

#tableAnnouncements-container {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  height: 400px;
  width: 90%;
  align-items: center;
  margin-bottom: 20px;
  overflow: auto;
}

#table_warehouse-container {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  height: 400px;
  width: 90%;
  align-items: center;
  margin-bottom: 20px;
  overflow: auto;
}

.label-input {
  display: flex;
  flex-direction: column;
}

.label-select {
  display: flex;
  flex-direction: column;
}


#tableAnnouncements {
  border-collapse: separate;
  border-spacing: 0;
  margin-bottom: 20px;
  width: 100%;
}

#table_warehouse {
  border-collapse: separate;
  border-spacing: 0;
  margin-bottom: 20px;
  width: 100%;
}

thead th {
  background-color: #455da0;
  color: white;
  padding: 10px 15px;
  font-size: 16px;
  position: sticky;
  top: 0;
  z-index: 10;
}

th,
td {
  text-align: center;
  vertical-align: middle;
}

#announcements button {
  color: rgb(255, 255, 255);
  background-color: rgb(0, 0, 0);
  padding: 5px 20px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  margin: 5px;
}

#announcements td {
  border-bottom: 1px solid;
}