body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background-color: antiquewhite;
}

#main_container h1{
  text-align: center;
  margin-top: 10px;
  margin-bottom: 5px;
}

#main_container {
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-content: stretch;
  align-items: center;
  overflow: auto;
}

#table_start {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  height: 500px;
  width: 60%;
  max-width: 1000px;
  align-items: center;
  margin: 20px;
  border-radius: 20px 20px 10px 10px;
  padding: 5px 20px 20px 20px;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
  background-color: #f9f9f9;
}



#tableAnnouncements-container {
  width: 99%;
  overflow: auto;
  margin: 10px;
}

#tableAnnouncements {
  border-collapse: separate;
  border-spacing: 0;
  width: 100%;
}

#offer_select_container {
  height: 350px;
  width: 99%;
  overflow: auto;
  margin: 10px;
}

#tableSelectedOffer {

  border-collapse: separate;
  border-spacing: 0;
  width: 100%;
}

#offers_t {
  width: 99%;
  overflow: auto;
  margin: 10px;
}

#table_offers {
  border-collapse: separate;
  border-spacing: 0;
  width: 100%;
}

th,
td {
  text-align: center;
  vertical-align: middle;
  border-bottom: 1px solid #ddd;
  padding: 10px;
}

thead th {
  background-color: #455da0;
  color: white;
  padding: 10px 15px;
  font-size: 16px;
  width: 10%;
  position: sticky;
  top: 0;
  z-index: 10;
}

#button-container {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
  gap: 3%;
}


#submitOffer {
  background-color: #455da0;
  color: white;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  margin-top: 10px;
}

#submitOffer:hover{
  background-color: rgba(0, 2, 141, 0.925);
}

button {
  color: rgb(255, 255, 255);
  background-color: rgb(143, 0, 0);
  padding: 5px 20px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}

button:hover {
  background-color: rgb(255, 0, 0);
}

button:disabled {
  background-color: #e0e0e0;
  color: #a0a0a0;
  cursor: not-allowed;
}

#clear {
  background-color: rgb(143, 0, 0);
  color: white;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  margin-top: 10px;
}

#submitAnnouncement:hover {
  background-color: #555;
}

#clear:hover {
  background-color: rgb(255, 0, 0);
}

@media (max-width: 1000px) {
  #table_start {
    width: 95%;
    padding: 0px;
  }

  #table_start button{
    font-size: 10px;
  }

  thead th {
    padding: 5px 8px;
    font-size: 12px;
  }

  th,
  td {
    padding: 10px 2px;
    font-size: 12px;
  }

  h1 {
    margin: 10px 0px 10px 0px;
  }

  #table_offers thead th {
    padding: 8px 6px;
    font-size: 12px;
  }
}