body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    background-color: #f2f2f2; 
  }
  h1 {
    background-image: url('../images/backround.JPEG'); 
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat; 
    color: white;
    text-align: center;
    padding: 20px 0;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Add a subtle shadow */
    margin: 0;
    font-size: 36px;
  }

  h2,h3,h4,h5{
    font-size: 24px
  }
  
 
  .sidebar {
    background-color: #333;
    overflow: hidden;
  }
  
  .sidebar a {
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    transition: background-color 0.3s; 
  }
  
  .sidebar a:hover {
    background-color: #555; 
  }
  
 
  .container {
    margin-top: 60px; 
    padding: 20px;
    background-color: #fff; 
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); 
  }
  
 
 #tableSelected, #table_request {
    max-height: 400px;
    overflow-y: auto; 
  }
  
  
  #search {
    font-family: 'Roboto', sans-serif;
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    font-size: 16px;
    border: 1px solid #ccc; 
    border-radius: 5px; 
  }
  
  
  #categories {
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px; 
    width: 100%; 
  }
  

  table {
    border-collapse: collapse;
    width: 100%;
  }
  
  th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
  }
  

  #submitRequest {
    background-color: #455da0;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    border-radius: 5px; 
  }
  
  #submitRequest:hover {
    background-color: #555;
  }
#table_req{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: stretch;
  align-items: center;
}
  @media only screen and (max-width: 600px) {
    #table_request th,td{
      border: 1px solid #ddd;
      padding:0px;
      text-align: left;
      font-size:12px;
    }
  }

  .table-data{
    max-height:400px;
    overflow:auto;
    width:70%
  }
  @media (min-width:1000px)
  {
    .table-data{
      width:1000px;
    }
  }