body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    background-color: #f2f2f2; 
  }
 h2{
  font-size: 24px;
  text-align: center;;
 }

  h3,h4,h5{
    font-size: 24px;
  }
  

  .container {
    margin-top: 60px; 
    padding: 20px;
    background-color: #fff; 
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); 
  }
  
 
 #tableSelected, #table_request {
    max-height: 400px;
    overflow-y: auto; 
  }
  
  
  #search {
    font-family: 'Roboto', sans-serif;
    width: 90%;
    margin: 10px 0;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }

  #main_container{
  width:100%;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-content: stretch;
  align-items: center;
  overflow:auto;
  }
  
  #table_req{
    height:400px;
    width:100%;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: stretch;
    align-items: center;
    overflow:auto;
    
  }
  #items_selected{
    height:400px;
    width:100%;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: stretch;
    align-items: center;
    overflow:auto;
    
  }


  #request_t{
    width:100%;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: stretch;
    align-items: CENTER;
  }
  
  #categories {
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px; 
    width: 100%; 
  }

  #search{
   border-block:initial;
   border-style: double;
   border-color: #455da0;
  }
  
  label {
    font-size: 18px;
    font-weight: bolder;

  }
  thead th {
    background-color: #455da0;
    color: white;
    padding: 10px 15px;
    font-size: 16px;
    position: sticky;
    top: 0;
    z-index: 10;
  }
  
  
  th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
  }
  

  #submitRequest {
    background-color: #455da0;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    border-radius: 5px; 
  }
  
  #submitRequest:hover {
    background-color: #555;
  }

  @media only screen and (max-width: 600px) {
    #table_request th,td{
      border: 1px solid #ddd;
      padding:0px;
      text-align: left;
      font-size:12px;
    }
  }

  
  @media (min-width:1000px)
  {
    .table-data{
      width:1000px;
    }
  }