body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  background-color: antiquewhite;
}

h2 {
  font-size: 24px;
  text-align: center;
  ;
}

#main_container {
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-content: stretch;
  align-items: center;
  overflow: auto;
}

.autocomplete-category {
  margin-top: 15px;
  display: flex;
  width: 50%;
  gap: 10%;
  padding: 20px;
  flex-direction: row;
  justify-content: center;
  background-color: #f9f9f9;
  border-radius: 8px;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
  align-items: center;
  flex-wrap: wrap;
}

#button-container {
  width: 100%;
  display: flex;
}

#result_list {
  display: none;
  position: absolute;
  background-color: white;
  border: 1px solid #ddd;
  max-height: 200px;
  overflow: auto;
  z-index: 1000;
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.autocomplete_result {
  padding: 10px;
  cursor: pointer;
}

.autocomplete_result:hover {
  background-color: #f2f2f2;
}

label {
  font-weight: bolder;
  font-size: 16px;
}

.label-input {
  position: relative;
  display: flex;
  flex-direction: column;
}

.label-select {
  display: flex;
  flex-direction: column;
}

select {
  border: 1px solid #ccc;
  background-color: white;
}

#search {
  padding: 10px;
  border: 1px solid #d4d4d4;
  border-radius: 4px;
}

#button-container {
  display: flex;
  width: 95%;
  margin: 10px;
  justify-content: flex-end;
}


#categories {
  width: 100%;
  padding: 10px 15px;
  border: 1px solid #d4d4d4;
  border-radius: 5px;
  font-size: 14px;
}

#list {
  width: 100%;
}

#results {
  display: none;
  position: absolute;
  background-color: white;
  border: 1px solid #ddd;
  max-height: 200px;
  overflow: auto;
  z-index: 1000;
  list-style-type: none;
  padding: 0;
  margin: 0;
}



#table_start {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  height: 500px;
  width: 60%;
  align-items: center;
  margin: 20px;
  border-radius: 20px 20px 10px 10px;
  padding: 5px 20px 20px 20px;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
  background-color: #f9f9f9;

}

#table_req {
  width: 100%;
  overflow: auto;
  margin: 10px;
}

#table_admin_request {
  border-collapse: separate;
  border-spacing: 0;
  width: 100%;
}

#table_admin_request tr:hover {
  background-color: #ddd;
  cursor: pointer;
}


#selected_t {
  height: 400px;
  width: 100%;
  overflow: auto;
  margin: 10px;
}

#tableSelected {
  border-collapse: separate;
  border-spacing: 0;
  width: 100%;
}

#request_t {
  width: 100%;
  overflow: auto;
  margin: 10px;
}

#tableRequest {
  border-collapse: separate;
  border-spacing: 0;
  width: 100%;
}



button {
  color: rgb(255, 255, 255);
  background-color: rgb(143, 0, 0);
  padding: 5px 20px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}

button:hover {
  background-color: rgb(255, 0, 0);
}

thead th {
  background-color: #455da0;
  color: white;
  padding: 10px 15px;
  font-size: 16px;
  width: 10%;
  position: sticky;
  top: 0;
  z-index: 10;
}


th,
td {
  text-align: center;
  vertical-align: middle;
  border-bottom: 1px solid #ddd;
  padding: 10px;
}



#submitRequest {
  margin-top: 20px;
  background-color: #455da0;
  color: white;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}

#submitRequest:hover {
  background-color: #555;
}

@media only screen and (max-width: 800px) {
  #table_start {
    width: 95%;
    padding: 0px;
  }

  #tableRequest thead th {
    padding: 8px 6px;
    font-size: 6px;
  }

  thead th {
    padding: 10px 8px;
    font-size: 12px;
  }

  th,
  td {
    padding: 10px 2px;
    font-size: 12px;
  }

  h1 {
    margin: 10px 0px 10px 0px;
  }
}


@media (min-width:1000px) {
  #table_start {
    width: 95%;
    padding: 0px;
  }
}