body{
    background-image: url(/images/backround.JPEG);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
}

.login{
  font-family: 'Roboto', Courier, monospace;
  margin: 0;
  color: rgba(255, 38, 0);
  padding: 0 0 10px;
  text-align: center;
  font-size: 15px;
}
.registerbox{
    width: 320px;
    height: 470px;
    border-radius: 15px;
    background: rgba(0, 0, 0, 0.95);
    color: #ffffff;
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    box-sizing: border-box;
    padding: 70px 30px;
  }

  .registeruser{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    position: absolute;
    top: -50px;
    left: calc(50%, 50px);
  }

  h1{
    font-family: 'Roboto', Courier, monospace;
    margin: 0;
    padding: 0 0 10px;
    text-align: center;
    font-size: 45px;
  }
  
  
  .userBox{
    width: 100%;
    font-family: 'Roboto', Courier, monospace;
    font-size: larger;
    line-height: 28px;
    pointer-events: visibleFill;
  }

  .passBox {
    margin-top: 10px;
    width: 100%;
    font-family: 'Roboto', Courier, monospace;
    font-size: larger;
    line-height: 28px;
    pointer-events: visibleFill;
  }

  #registerButton{
    width: 50%;
    height: 30px;
    margin-left: 65px;
    transition-duration: 0.5s;
    background-color: rgba(255, 255, 255, 1);
    border-radius: 15px;
    text-align: center;
    border: none;
    cursor: pointer;
  }
  
  #registerButton:hover {
    background-color: rgba(255, 255, 255, 0.5);
  }
  
  #user{
    padding: 6px;
    width: 95%;
    background-color: rgba(255, 255, 255, 1); 
    border-radius: 15px;
  }
  
  #pass{
    padding: 6px;
    width: 95%;
    background-color: rgba(255, 255, 255, 1); 
    border-radius: 15px;
  }

  #confpass{
    padding: 6px;
    width: 95%;
    background-color: rgba(255, 255, 255, 1); 
    border-radius: 15px;
  }
  

