body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  background-color: #f2f2f2; 
}


.header {
  background-color: #333;
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 0;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); 
}

.header h1 {
  margin: 0;
  font-size: 36px;
}
 h2,h3,h4{
  font-size: 24px;
 }

.sidebar {
  background-color: #333;
  color: white;
  padding: 10px 0;
  text-align: center;
}

.header p,
.header h1 {
    display: inline;
}

.sidebar a {
  display: block;
  color: white;
  text-decoration: none;
  padding: 10px 0;
  transition: background-color 0.3s; 
}

.sidebar a:hover {
  background-color: #555; 
}


.main {
  margin-top: 20px; 
  padding: 20px;
  background-color: #fff; 
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); 
}


table {
  border-collapse: collapse;
  width: 100%;
  border: 1px solid #ddd;
}

th, td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}
@media (max-width:800px){
  table{
    font-size:x-small;
  }
}

#categorySelect {
  font-family: 'Roboto', sans-serif;
  padding: 8px;
  border: 1px solid #ccc; 
  border-radius: 5px; 
  width: 100%; 
}


button {
  background-color: #455da0;
  color: white;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  border-radius: 5px; 
  margin-top: 10px;
}

button:hover {
  background-color: #555;
}


#map {
  height: 400px;
  margin-top: 20px;
}
#text{
  border: 2px solid #000000; 
  border-radius: 4px;
  display:inline-block;
}


@media only screen and(max-width:600px){
  #tasks th,td{
    padding:0px;
  }
}