body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background-color: antiquewhite;
}

#main-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#map {
  height: 500px;
  width: 95%;
  margin: 20px;
  max-width: 1000px;
  position: relative;
  border-radius: 30px;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
}

.separator-line {
  border: none;
  border-top: 1px solid #455da0;
  margin: 10px 0;
}

#title_tasks_panel-container {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  max-width: 1000px;
  height: 400px;
  width: 70%;
  align-items: center;
  margin: 20px;
  border-radius: 20px;
  padding: 5px 20px 20px 20px;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
  background-color: #f9f9f9;
}

#map button {
  background-color: #455da0;
  color: white;
  padding: 7px 10px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  margin: 1px;
}

#map button:hover {
  background-color: rgba(0, 2, 141, 0.925);
}


#tasks_panel {
  overflow-y: auto;
  width: 99%;
}

#tasks {
  width: 100%;
  border-collapse: separate;
  border-spacing: 0;
}


thead th {
  background-color: #455da0;
  color: white;
  padding: 10px 15px;
  font-size: 15px;
  width: 10%;
  position: sticky;
  top: 0;
  z-index: 10;
}

th,
td {
  text-align: center;
  vertical-align: middle;
  border-bottom: 1px solid #ddd;
  padding: 10px;
}

h1 {
  display: flex;
  width: 100%;
  margin: 10px;
  justify-content: center;
}

label {
  font-weight: bolder;
  font-size: 16px;
  margin: 2px;
}

.accept {
  background-color: #455da0;
  color: white;
  padding: 7px 10px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  margin: 1px;
}

.accept:hover {
  background-color: rgba(0, 2, 141, 0.925);
}

#unload {
  background-color: #455da0;
  color: white;
  padding: 7px 10px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  margin: 1px;
}

#unload:hover {
  background-color: rgba(0, 2, 141, 0.925);
}

#unload:disabled {
  background-color: #e0e0e0;
  color: #a0a0a0;
  cursor: not-allowed;
}

#table_selected-container button {
  background-color: rgb(143, 0, 0);
  color: white;
  padding: 7px 8px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  margin: 1px;
}

#table_selected-container button:hover {
  background-color: rgb(255, 0, 0);
}

.decline {
  background-color: rgb(143, 0, 0);
  color: white;
  padding: 7px 8px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  margin: 1px;
}

.decline:hover {
  background-color: rgb(255, 0, 0);
}

.accept:disabled {
  background-color: #e0e0e0;
  color: #a0a0a0;
  cursor: not-allowed;
}

#table_truck-container {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  height: 350px;
  max-width: 800px;
  width: 50%;
  align-items: center;
  margin: 20px;
  border-radius: 20px;
  padding: 5px 20px 20px 20px;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
  background-color: #f9f9f9;
}

#table_cargo {
  width: 99%;
  height: 350px;
  margin-bottom: 20px;
  overflow: auto;
}

#Cargo {
  width: 100%;
  border-collapse: separate;
  border-spacing: 0;
}

#unload_button-container {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}

#warehouse_selected-container {
  display: flex;
  flex-direction: row;
  margin-bottom: 10px;
  width: 100%;
  justify-content: center;
}

#title_table_warehouse-container {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  height: 500px;
  max-width: 1000px;
  width: 60%;
  align-items: center;
  margin: 20px;
  border-radius: 20px;
  padding: 15px;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
  background-color: #f9f9f9;
}

#title_table_selected-container {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  height: 500px;
  width: 40%;
  max-width: 1000px;
  align-items: center;
  margin: 20px;
  border-radius: 20px;
  padding: 15px;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
  background-color: #f9f9f9;
}

table {
  border-collapse: separate;
  border-spacing: 0;
  width: 100%;
}

#table_selected-container {
  width: 99%;
  height: 400px;
  display: flex;
  align-items: flex-start;
  padding-bottom: 20px;
  overflow: auto;
}

#category_select-container {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  margin: 5px;
  flex-direction: row;
  align-content: flex-start;
  align-items: center;
  gap: 2%;
}

#table_warehouse {
  width: 99%;
  overflow: auto;
}

#table_warehouse tr:hover {
  background-color: #ddd;
  cursor: pointer;
}

select {
  padding: 7px 15px;
  border: 1px solid #d4d4d4;
  border-radius: 5px;
  font-size: 14px;
}

#load {
  background-color: #455da0;
  color: white;
  padding: 7px 10px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  margin: 1px;
}

#load:hover {
  background-color: rgba(0, 2, 141, 0.925);
}

#load:disabled {
  background-color: #e0e0e0;
  color: #a0a0a0;
  cursor: not-allowed;
}

#load_button-container {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}

@media (max-width:1000px) {

  thead th {
    padding: 10px 8px;
    font-size: 12px
  }

  th,
  td {
    padding: 10px 2px;
    font-size: 14px;
  }

  #warehouse_selected-container {
    flex-direction: column;
    align-items: center;
  }

  #title_table_selected-container {
    width: 95%;
    padding: 0;
  }

  #category_select-container {
    width: 95%;
    margin-bottom: 10px;
    padding: 0;
  }

  #title_table_warehouse-container {
    width: 95%;
    padding: 0;
    margin: 20px 0px 20px 0px;
  }

  #tasks_panel {
    width: 99%;
    margin: 10px 0px 10px 0px;
  }

  #table_warehouse {
    width: 99%;
    margin: 10px 0px 10px 0px;
  }

  #load_button-container {
    justify-content: center;
  }

  #load {
    margin-bottom: 5px;
  }

  #table_truck-container {
    width: 95%;
    padding: 0;
    margin: 0;
  }

  #unload_button-container {
    justify-content: center;
    margin-bottom: 10px;
  }

  #title_tasks_panel-container {
    width: 95%;
    padding: 0;
    margin: 20px 0px 20px 0px;
  }

}