DirectoryIndex html/login.php

RewriteEngine On
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^([^\.]+)$ $1.php [NC,L]


ExpiresActive On
ExpiresByType image/png "access 1 hour"
ExpiresByType image/jpeg "access 1 hour"
ExpiresByType text/javascript "access 2 weeks"
ExpiresByType text/css "access 2 months"
ExpiresByType text/html "modification 4 hours"
ExpiresByType text/php "modification 4 hours"
ExpiresDefault "access 2 days"